<div class="welcome-wrapper">
  <div class="main-page">
    <div class="content">
      <div class="header-bar">
      <h1>Welcome to myFlix!</h1>
    </div>
      <div class="login-bar">
        <button
          mat-raised-button
          (click)="openUserRegistration()"
          style="margin-right: 10px"
          color="primary"
        >
          Sign Up
        </button>
        <button
          mat-raised-button
          (click)="openUserLogin()"
          style="margin-right: 10px"
          color="primary"
        >
          Log In
        </button>
      </div>
    </div>
  </div>
</div>
