<div class="card-content">
  <div class="card-header">
    <h2 [style.fontSize]="fontSize(movie.Title)">{{ movie.Title }}</h2>
    <p>{{ movie.Network }}</p>
  </div>
  <div class="card-body">
    <img src="{{ movie.ImagePath }}" alt="movie image" />
  </div>
  <div class="card-footer">
    <div class="footer-content">
      <button mat-button color="primary" (click)="showGenreDialog(movie)">
        More Details
      </button>

      <mat-icon (click)="toggleFavorite(movie._id)">{{
        favorites.includes(movie._id) ? "favorite" : "favorite_border"
      }}</mat-icon>
    </div>
  </div>
</div>
