<div class="card-wrapper">
  <div class="header-wrapper">
    <h2>Welcome {{ user }}</h2>
    <div class="header-actions">
      <button mat-raised-button style="margin-right: 10px" color="primary">
        Profile
      </button>
      <button mat-raised-button style="margin-right: 10px" color="primary">
        Log Out
      </button>
    </div>
  </div>
  <mat-grid-list cols="4" rowHeight="510px">
    <mat-grid-tile class="tile-content" *ngFor="let movie of movies">
      <div class="card-content">
        <div class="card-header">
          <h2>{{ movie.Title }}</h2>
        </div>
        <div class="card-body">
          <img src="{{ movie.ImagePath }}" alt="movie image" />
        </div>
        <div class="card-footer">
          <p>{{ movie.Network }}</p>
          <div class="footer-content">
            <button mat-button color="primary" (click)="showGenreDialog(movie)">
              Genre
            </button>
            <button mat-button color="primary">Director</button>
            <button mat-button color="primary">Summary</button>
            <mat-icon >{{favorites.includes(movie._id) ? 'favorite' : 'favorite_border'}}</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
